<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verficador de versão node</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Descubra a versão do Node</h1>
    <form action="{{ url_for('upload_file') }}" method="POST">
        <label for="repo_url">URL do Repositorio:</label>
        <input type="text" id="repo_url" name="repo_url" placeholder="URL do repositorio GIT">
        <input type="submit" value="Checar">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <script>
          // Recarrega a página após 10 segundos
          setTimeout(function() {
            location.reload();
          }, 10000);
        </script>
      {% endif %}
    {% endwith %}
    <a href="{{ url_for('logout') }}" class="button">Logout</a>
</body>
</html>
